<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lyceum Library</title>
</head>
<body>
<h1><p style="text-align: center;">Сайт библиотеки Лицея № 1</p></h1>
    <div style="text-align: center;" class = "buttons">
            <h3><a href={{redirect_about}}>О нас</a></h3>
            <h3><a href={{redirect_contacts}}>Контакты</a></h3>
            <h3><a href={{redirect_main}}>Главная</a></h3>
    </div>
    <p style="text-align: center;">Чтобы пользоваться полным функционалом нашего сервиса, вам нужно зарегистрироваться</p>
    <div style="text-align: center;" class = "buttons">
            <h3><a href={{redirect_sign_up}}>Регистрация</a></h3>
            <p>или</p>
            <h3><a href={{redirect_log_in}}>Вход</a></h3>
    </div>
</body>
</html>